body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Buttons */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Input */
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Page-specific Styles */
/* Home Page */
.home-buttons {
  margin-left: 50px;
  display: flex;
  justify-content: space-evenly;
}

/* Seating Plan Page */
.seating-plan {
  text-align: center;
}

/* Student Details Page */
.student-details {
  text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
  h1 {
    font-size: 20px;
  }
  button {
    font-size: 14px;
  }
}
